.connection-indicator {
    height: 40px;
    width: 40px;
    margin-right: 40px;
    border-radius: 90px;

    &.active {
        background: green;
    }

    &.inactive {
        background: red;
    }
}

.header__playerName {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-right: 50px;
}