.lobby-container {
    display: flex;
    height: 100%;
}

.lobby-games {
    height: 100vh;
    overflow-y: scroll;
    margin: auto;
    
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.lobby-game {
    width: 100%;
    min-width: 800px;
    margin: 2rem 0;
    padding: 1rem 2rem;
    background: rgba($color: #444343, $alpha: .7);
    border: 2px solid #F5E86B;
    border-radius: 60px;
    color: #F5E86B;
    margin: auto;
    font-size: 3rem;

    &:hover,
    &:active {
        background: darken(rgba($color: #444343, $alpha: .7), $amount: 10)
    }
}