@font-face {
  font-family: 'Jupiter';
  src: url('/fonts/Jupiter.ttf');
}

body {
  font-family: 'Jupiter', Arial, Helvetica, sans-serif;
}

.app {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url("/images/stars_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F5E86B;
}

.header {
  display: flex;
  padding: 20px;
}

.board-indicator {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 20px;
}

.footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
}

.main-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-area {
  display: flex;
  margin: 40px 100px 0 100px;
  justify-content: space-between;
  align-items: center;
}