.app {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url("/images/stars_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F5E86B;
}

.header {
  display: flex;
  padding: 20px;
}

.board-indicator {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 20px;
}

.main-area {
  display: flex;
  height: 80vh;
}